@page "/tasks"

<div class="p-3">
    <h1>Manage your tasks here</h1>

    @foreach (var task in tasks)
    {
        <EditForm Model="task">
            <label>Short Name</label>
            <InputText @bind-Value="task.ShortName" style="width: 250px" />
            <label>Category</label>
            <InputText @bind-Value="task.Category" style="width: 100px" />
            <label>Description</label>
            <InputText @bind-Value="task.Description" style="width: 800px" />
            <label>Difficulty</label>
            <InputNumber @bind-Value="task.Difficulty" style="width: 50px" />
            <label>Duration (s)</label>
            <InputNumber @bind-Value="task.Duration" style="width: 50px" />
            <label>Reps</label>
            <InputNumber @bind-Value="task.Repetitions" style="width: 50px" />

            <button class="btn btn-sm btn-primary" @onclick="() => MoveUp(task)"><span class="oi oi-arrow-top"></span></button>
            <button class="btn btn-sm btn-primary" @onclick="() => MoveDown(task)"><span class="oi oi-arrow-bottom"></span></button>
            <button class="btn btn-sm btn-danger" @onclick="() => tasks.Remove(task)"><span class="oi oi-x"></span></button>
        </EditForm>
    }

    <button class="btn btn-sm btn-primary" @onclick="AddNew"><span class="oi oi-plus"></span> New</button>
    <button class="btn btn-sm btn-success" @onclick="Save">Save</button>
</div>
